:root {
  --first-color: #f707c3;
  --secondary-color: #c3199e;
  --third-color: #680762;
  --forth-color: #141010;
}

body {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 0%,
    rgb(190, 59, 166) 100%
  );
  background-color: rgb(190, 59, 166);
  background-repeat: no-repeat;
  font-family: "Merriweather", serif;
}
.head {
  font-family: "Borel", cursive;
  color: var(--first-color);
}
.ab-head {
  color: var(--first-color);
  font-family: "Borel", cursive;
}
.ab-text {
  color: var(--forth-color);
}
.shecodesLink {
  color: var(--first-color);
  text-decoration: dotted;
}
footer {
  color: var(--forth-color);
}
.homepageLink {
  color: var(--third-color);
  text-decoration: dotted;
}
@media (min-width: 700px) {
  .head {
    margin-top: 50px;
    font-size: 48px;
  }
  .myself {
    max-width: 300px;
  }
}
