:root {
  --primary-color: #141010;
  --secondary-color: #393e46;
  --third-color: #00adb5;
  --forth-color: #eeeeee;
}

body {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 0%,
    rgb(0, 173, 181) 100%
  );
  background-color: rgb(0, 173, 181);
  background-repeat: no-repeat;
  font-family: "Merriweather", serif;
}
.favicon {
  max-width: 30px;
}
.head {
  font-family: "Borel", cursive;
  color: var(--third-color);
}
.ab-head {
  color: var(--third-color);
  font-family: "Borel", cursive;
}
.ab-text {
  color: var(--forth-color);
}
.myself {
  margin-top: 30px;
}
.shecodesLink {
  color: var(--primary-color);
  text-decoration: none;
}
footer {
  color: var(--forth-color);
}
.homepageLink {
  color: var(--primary-color);
  text-decoration: none;
}
@media (min-width: 700px) {
  .head {
    margin-top: 50px;
    font-size: 48px;
  }
  .myself {
    max-width: 300px;
  }
  .favicon {
    max-width: 40px;
  }
}
