:root {
  --primary-color: #141010;
  --secondary-color: #393e46;
  --third-color: #00adb5;
  --forth-color: #eeeeee;
}

body {
  background: linear-gradient(
    180deg,
    rgba(34, 40, 49, 1) 0%,
    rgb(0, 173, 181) 100%
  );
  background-color: rgb(0, 173, 181);
  background-repeat: no-repeat;
  font-family: "Merriweather", serif;
}
.favicon {
  max-width: 30px;
}
h1 {
  font-family: "Borel", cursive;
  color: var(--third-color);
}
h3 {
  font-family: "Borel", cursive;
  color: var(--secondary-color);
}
img {
  max-width: 400px;
}
p {
  color: var(--forth-color);
}

.homepageLink {
  color: var(--primary-color);
  text-decoration: none;
}
@media (min-width: 700px) {
  h1 {
    font-size: 56px;
  }
  .favicon {
    max-width: 40px;
  }
}
