:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --third-color: #00adb5;
  --forth-color: #eeeeee;
}

body {
  background-color: var(--primary-color);
  color: #ffff;
  text-align: center;
  padding-top: 20px;
}
.hero {
  background-image: url("sky-background.jpg");
  background-size: cover;
  background-position: center;

  padding: 120px;
  border-radius: 20px;
  border: 2px outset var(--secondary-color);
}

h1 {
  padding: 20px;
}
.herobutton {
  color: var(--forth-color);
  border: 1px solid var(--third-color);
  margin: 20px;
}
