:root {
  --primary-color: #141010;
  --secondary-color: #393e46;
  --third-color: #00adb5;
  --forth-color: #eeeeee;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(57, 62, 70, 1) 100%
  );
  color: #ffff;

  font-family: "Merriweather", serif;
}

.favicon {
  max-width: 30px;
}
.hero {
  background-image: url("sky-background.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 2px outset var(--secondary-color);
}

h1 {
  padding: 15px;
  font-family: "Borel", cursive;
}

.myname,
.linkGit {
  color: var(--third-color);
}
.herobutton {
  color: var(--forth-color);
  border: 1.5px solid var(--third-color);
  margin: 20px;
}

.grey {
  filter: grayscale(80%);
}

h3 {
  font-family: "Borel", cursive;
  color: var(--third-color);
}
h6 {
  color: var(--secondary-color);
}
.round {
  border-radius: 20px;
  border: 2px outset var(--secondary-color);
}

.footerIcons {
  max-width: 30px;
}

@media (min-width: 700px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 70px;
    margin: 5px 30px 15px 30px;
  }
  .imgcarousel {
    width: 50%;
  }
  h1 {
    font-size: 48px;
  }
  .favicon {
    max-width: 40px;
  }
}
