:root {
  --primary-color: #222831;
  --secondary-color: #393e46;
  --third-color: #00adb5;
  --forth-color: #eeeeee;
}

body {
  background-color: var(--primary-color);
  color: #ffff;
  padding-top: 20px;
}
.hero {
  background-image: url("sky-background.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  border: 2px outset var(--secondary-color);
}

h1 {
  padding: 20px;
  font-family: "Borel", cursive;
  font-size: 48px;
}
h2 {
  font-family: "Merriweather", serif;
}
.myname {
  color: var(--third-color);
}
.herobutton {
  color: var(--forth-color);
  border: 1.5px solid var(--third-color);
  margin: 20px;

  font-family: "Merriweather", serif;
}

.grey {
  filter: grayscale(80%);
}

h3 {
  font-family: "Borel", cursive;
  color: var(--third-color);
}
.round {
  border-radius: 20px;
  border: 2px outset var(--secondary-color);
}

@media (min-width: 700px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 100px;
    margin: 20px;
  }
  .imgcarousel {
    width: 50%;
  }
}
